$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));

.material-icons-outlined {
    font-family: 'Material icons';
}



.like__form-heart{
    font-size: 10px;
    line-height: 9px;
    margin-right: 6px;
    color: $ds25;
    font-weight: 400; 
}

.like__form-number {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: $ds25;
}


.like__form {
    user-select: none;
    padding-left: 4px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    border: 1px solid $ds25;
    border-radius: 10px;
}



.like__form-heart-liked {
    color: $purple;
}

.like__form-number-liked{
    color: $purple;
}

.like__form-liked {
    border-color: $purple;
}

