mixin like(likeCounter="",hovered="")
    .like__box
        .like__form
            span.like__form-heart.material-icons-outlined(class=hovered) favorite_border
            span.like__form-number=likeCounter