mixin registrationForm
    .registration-form
        .registration-form__box
            .registration-form__form
                form.registration-form__inner
                    h1.registration-form__title Регистрация аккаунта
                    .registration-form__registration-input
                        input.input__textfield.input__name(type="text" placeholder="Имя")
                        input.input__textfield.input__secondname(type="text" placeholder="Фамилия")
                    .registration-form__gender-radio
                        include pug/components/_radio
                    .registration-form__date-input
                        h3.input__date-title дата рождения
                        input.input__textfield.input__date(type="text" placeholder="ДД.ММ.ГГГГ")
                    .registration-form__data-input
                        h3.input__data-title данные для входа в сервис
                        input.input__textfield.input__email(type="email" placeholder="Email")
                        input.input__textfield.input__password(type="password" placeholder="Пароль")
                    include pug/components/_toggle
                    .button__form.button__form-big.registration-form__btn
                        button.button__big подобрать номер
                        span.material-icons-outlined.button__big-arrow arrow_forward
                    .registration-form-bottom
                        p.registration-form-bottom-text Уже есть аккаунт на Toxin
                        .button__form.registration-form__btn-bottom
                            button.button__gradient войти