mixin subInput
    h3.form-elements__subscription-textfield-title subscription text field
    .subscription-textfield__form
        input.input__textfield(type="text" placeholder="Email")
        span.material-icons-outlined.subscription-textfield__arrow arrow_forward