$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));


.bulletlist__item {
    display: flex;
    align-items: top;
    padding-bottom: 10px;
    
}
.bulletlist__text {
    line-height: 24px;
    max-width: 240px;
    color: $ds75;
}

.bulletlist__disk {
    margin-top: 7px;
    margin-right: 11px;
    width: 10px;
    height: 10px;
    background-color: $ds25;
    border-radius: 50%;
}