$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));
$linear3: linear-gradient(180deg, rgba(111, 207, 151, 1),rgba(102, 210, 234, 1));





.calendar__form {
    border:1px solid $ds25;
    border-radius: 4px;
    width: 320px;
    max-height: 370px;
    background-color: #fff;
    padding: 19px;
}



.date-arrow {
    cursor: pointer;
    font-size: 24px;
    color: $purple;
}


.weeks li{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.calendar__top{
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.current-date {
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;

}


.calendar__menu {
    margin-top: 30px;
}

.weeks {
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.date-title{
    color: $purple;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.days{
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}

.date-title-day {
    font-weight: 400;
    color: $ds50;
}


.days li {
    color: $ds50;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .3s;
}

.days li:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: $linear2;
}

.days .inactive{
    color: $ds25;
}

.days .active{
    font-weight: 700;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: $linear3;
}








.days li .active {
    font-weight: 700;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: $linear3;
}



