$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));


* {
    box-sizing: border-box;
}
.checkboxs{
    padding-top: 30px;
    padding-bottom: 30px;
}

.checkbox__form {
    cursor: pointer;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.checkbox__label {
    max-width: 222px;
    position: relative;
    user-select: none;
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: $ds50;
    margin-left: 32px;
    transition: all 0.1s;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0 );
}

.checkbox__input:checked + .checkbox__style{
    background-image: url(../images/Group-check-on-16px.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: $purple;
}

.checkbox__style  {
    position: absolute;
    width: 20px;
    border: 1px solid $ds25;
    border-radius: 4px;
    height: 20px;
    margin-left: -30px;
    left: 0;
    bottom: 0px;
    top: -1px;  
}


.checkboxRich__form label{
    max-width: 260px;
    font-weight: 700;
    color: $ds75;
    
}

.checkboxRich__text {
    max-width: 230px;
    padding-top: 5px;
    font-size: 12px;
    line-height: 14px;
    color: $ds50;
}