$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));
$linear3: linear-gradient(180deg, rgba(111, 207, 151, 1),rgba(102, 210, 234, 1));
$cardsBGC:#F4F4F6;
$ffm: 'Montserrat', sans-serif;


.container-form__elements {
    margin: auto;
    padding-top: 140px;
    padding-bottom: 131px;
    display: flex;
    justify-content: space-between;
}
.form-elements__input .input__box {
    padding-bottom: 20px;
    width: 320px;
}

.form-elements__input-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.form-elements__input-title-pref {
    color: $ds50;
    font-weight: 400;
}

.form-elements__dropdown {
    padding-bottom: 23px;
}

.form-elements__dropdown-title {
    margin-bottom: 5px;
}

.form-elements__masked__textfield-title {
    margin-bottom: 5px;
}

.form-elements__masked__textfield {
    margin-bottom: 40px;
}

.form-elements__dropdown-date {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.dropdown-date-select {
    justify-content: space-between;
}

.form-elements__dropdown-filter__date .dropdown-date-select {
    width: 266px;
}
.form-elements__dropdown-filter__date {
    margin-bottom: 40px;    
}

.subscription-textfield__form {
    position: relative;   
}
.subscription-textfield__form .input__textfield {
    width: 267px;
}

.subscription-textfield__arrow {
    position: absolute;
    font-size: 24px;
    color: $purple;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1px;
    left: 223px;
   
}
.form-elements__subscription-textfield-title  {
    margin-bottom: 5px;
}

.form-elements__subscription-textfield {
    margin-bottom: 100px;
}

.form-elements__custom-dropdown__form .menu {
    // display: block;
}
.form-elements__custom-dropdown__form .customDropdown-spc__menu  {
    display: block;
    position: relative;
    z-index: 0;
}

.form-elements__custom-dropdown__form-spc .select {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-elements__custom-dropdown-top {
    display: flex;
    justify-content: space-between;
    width: 266px;
}

.form-elements__custom-dropdown-title-pref {
    color: $ds50;
    font-weight: 400;
}

.customDropdown .menu li{
    padding-bottom: 7px;
}

.form-elements__custom-dropdown__form-spc   {
    margin-top: 20px;
}

.form-elements__custom-dropdown-top {
    margin-bottom: 5px;
}

.form-elements__custom-dropdown {
    margin-bottom: 41px;
}

.form-elements__exp-checkbox-open .expanded__checkbox__menu {
    display: block;
    position: relative;
    z-index: 1;
    background-color: #fff;
    width: 266px;
    border-bottom: none;
}

.form-elements__exp-checkbox-open {
    margin-top: 20px;
    margin-bottom: 101px;
}

.form-elements__input-top {
    width: 320px;
}

.checkbox__form {
    margin-bottom: 10px;
}

.form-elements__checkbox-title {
    margin-bottom: 17px;
}

.form-elements__checkbox {
    margin-bottom: 41px - 10px;
}

.form-elements__radio-title {
    margin-bottom: 16px;
}

.form-elements__radio {
    margin-bottom: 37px;
}

.form-elements__toggle-title {
    margin-bottom: 16px;
}

.form-elements__toggle {
    margin-bottom: 41px;
}

.form-elements__like__form   {
    display: flex;
    gap: 10px;
}

.form-elements__like-title {
    margin-bottom: 16px;
}

.form-elements__like {
    margin-bottom: 40px;
}

.form-elements__rate-star-title {
    margin-bottom: 16px; 
}

.form-elements__rate-star__form {
    display: flex;
    gap: 20px;
}

.form-elements__rate-star {
    margin-bottom: 196px;
}

.form-elements-center__dropdown-title {
    margin-bottom: 5px;
}

.form-elements-center__dropdown {
    margin-bottom: 98px;
}

.form-elements-center__dropdown .menu {
    display: block;
    position: relative;
}

.form-elements-center__dropdown .select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-elements__rich-checkbox-title {
    margin-bottom: 16px;
}


.form-elements__range-slider {
    position: relative;
    margin-bottom: 44px;
}
.form-elements__range-slider-title {
    position: absolute;
    top: 5px;
}

.form-elements__buttons__form,
.form-elements__buttons__form-gradient,
.form-elements__buttons__form-ot {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.button__form {
    margin: 0;
}

.form-elements__buttons-title {
    margin-bottom: 16px;
}

.form-elements__pagination {
    margin-top: 44px + 40px + 30px ;
    
}

.pagination__form {
    margin: 0;
}

.form-elements__pagination__form {
    display: flex;
    align-items: start;
}

.form-elements__pagination-title {
    margin-bottom: 16px;
}
.container-form__for-comments {
    display: flex;
    gap: 72px;
}

.form-elements__selected__dropdown {
    margin-top: 202px;
}

.form-elements__selected__dropdown-title {
    margin-bottom: 5px;
}

.form-elements__selected__dropdown .menu {
    display: block;
    position: relative;
}

.form-elements__selected__dropdown .select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-elements__bullet-list-title {
    margin-bottom: 16px;
}

.form-elements__bullet-list {
    margin-top: 99px;
}


.comment-container {
    margin-top: 231px;
}
