$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds10: rgba(31, 32, 65, 0.1);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));
$linear3: linear-gradient(180deg, rgba(111, 207, 151, 1),rgba(102, 210, 234, 1));


.pagination__card {
    width: 270px;
    height: 257px;
    // border: 1px solid black;
    border-radius: 4px;  
    flex-wrap: nowrap;
    // background-color: red;
    display: block;
}

.pagination__card-text-top {
    display: flex;
    align-items: center;
    position: relative;
}

.pagination__card-text-top__price {
    color: $ds50;
    font-size: 12px;
    // padding-bottom: 10px;
    
}

.pag_strong {
    font-size: 14px;
}

.pagination__card-text-top__num {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

.pag_strong-num {
    font-size: 19px;
}

.pagination__card-text-top__lux {
    position: absolute;
    left: 56px;
    top: 7px;
    color: $purple;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
}

.pagination__card-text-top__inner {
    display: flex;
    width: 232px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    line-height: 18px;
    border-bottom: 1px solid $ds10;
    padding-bottom: 10px;
}

.pagination__card-text-bot__rev-text {
    color: $ds50;
    line-height: 18px;
}

.pagination__card-text-bot__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 232px;
    margin: auto;
}

.pagintaion__card-text {
    padding: 20px 25px 19px 15px;
}




.pagination__list {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: $ds50;
}

.pagination__item:hover {
    border-radius: 50%;
    background-image: $linear1;
    color: #fff;
}

.active-page{
    border-radius: 50%;
    background-image: $linear1;
    color: #fff;
}


.pagination__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: $linear3;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
 
}

.pagination__discription-text {
    color: $ds75;
    padding-top: 10px;
    padding-left: 6px;
}

.pagination__wrapper {
    margin: auto;
}
.pagination__form-inner {
    margin: auto;
}
.pagination__wrapper{
    width: 1400px;

}
.pagination__card__wrapper {
    max-width: 860px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 100px;
    margin: auto;

}

.pagination__card {
    box-shadow: 0px 10px 20px $ds5;
    margin-bottom: 20px;
    margin-left: 12px;
}

.pagination__form {
    
    margin: auto;
    margin-top: 41px;
}

.pagination__form-inner {
    display: block; 
}

.pagination__nav {
    display: block;
    justify-content: center;
    margin: auto;
}

.pagination__discription-text {
    margin: auto;
    display: flex;
    justify-content: center;
}