$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));


.rate-star__inner {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.rate-star {
    // position: absolute;
    font-size: 24px;
    color: $purple;
    user-select: none;
}

.rate-star__inner .material-symbols-outlined {
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: $purple;
    // padding-bottom: 2px;
}


// .star1
// .star2{

// }
// .star3{

// }
// .star4{

// }
// .star5{

// }