$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));
$linear3: linear-gradient(180deg, rgba(111, 207, 151, 1),rgba(102, 210, 234, 1));
$cardsBGC:#F4F4F6;
$ffm: 'Montserrat', sans-serif;


.registration-form__form {
    width: 380px;
    height: 646px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
}

.radio__form {
    display: flex;
    gap: 20px;
}

.counter__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
}
.registration-form__registration-input{
    margin-top: 20px;
}
.input__name,
.input__secondname {
    margin-bottom: 10px;
}

.registration-form__gender-radio {
    margin-bottom: 20px;
}

.registration-form__date-input {
    margin-bottom: 20px;
}
.registration-form__date-input .input__date {
    margin-top: 5px;
}

.input__email {
    margin-bottom: 10px;
}
.input__data-title {
    margin-bottom: 5px;
}

.registration-form-bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registration-form-bottom-text {
    color: $ds100;
}


.button__form.button__form-big.registration-form__btn {
    margin-top: 20px;
}

.button__form.registration-form__btn-bottom {
    z-index: 1;
}
.registration-form__data-input {
    .checkbox__form {
        padding-top: 10px;
    }
}






