$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds10:rgba(31, 32, 65, 0.1);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));
$linear3: linear-gradient(180deg, rgba(111, 207, 151, 1),rgba(102, 210, 234, 1));
$cardsBGC:#F4F4F6;
$ffm: 'Montserrat', sans-serif;

.header-main {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.search-room__page-datedropdown .dropdown-date-select {
    width: 266px;
}
.search-room__page-main__inner {
    display: flex;
    // height: 1356px;
}

.footer {
    background-color: #fff;
}



.search-room__page-main__inner-search-inner {
    padding-left: 60px;
    padding-bottom: 70px;
}
.search-room__page-main__inner {
    padding-top: 30px;
}

.search-room__page-datedropdown {
    padding-bottom: 11px;
    .search-room__page-datedropdown-title{
        margin-bottom: 5px;
    }
}
.search-room__page-dropdown {
    padding-bottom: 30px;
    .search-room__page-dropdown-title{
        margin-bottom: 5px;
    }
    .select {
        width: 266px;
    }
    .menu {
        width: 266px;
    }
}

.search-room__page-range-slider {
    position: relative;
    padding-bottom: 30px;
    .search-room__page-range-slider-title{
        
        position: absolute;
        top: 3px;
    }
    .search-room__page-range-slider-discription{
        font-weight: 400;
        text-transform: none;
        color: $ds50;
        padding-top: 11px;
    }
}

.search-room__page-checkbox {
    padding-bottom: 30px;
    .search-room__page-checkbox-title{
        margin-bottom: 16px;
    }
}

.search-room__page-richcheckbox {
    padding-bottom: 30px;
    .search-room__page-richcheckbox-tilte{
        margin-bottom: 16px;
    }
}

.search-room__page-customdropdown {
    padding-bottom: 16px;
    .search-room__page-customdropdown-title{
        margin-bottom: 5px;
    }
}

.search-room__page-epxcheckbox {
    .expanded__checkbox___title{
        width: auto;
        padding: 0;
    }
    .expanded__checkbox___top  {
        justify-content: space-between;
    }
    .expanded__checkbox__caret{
        user-select: none;
    }
    
    
}

.footer__form-inner-top {
    border-top: 1px solid $ds10;
}
.search-room__page-main__inner-search {
    .search-room__page-search-title{
        padding-bottom: 21px;
    }
    .search-room__page-main__inner-search-inner{
        // min-width: 1091px;
    }
    .search-room__page-pagination{
        // min-height: 1091px;
    }
    .pagination__form-inner {
        min-height: 1091px;
    }
}

.pagination__nav {
    padding-top: 41px;
}


