@use '_global';



$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);


$ffm: 'Montserrat', sans-serif;

.container {
    margin: auto;
    max-width: 1200px;
}

.pageLogo {
    position: absolute;
    left: 30px;
    top: 30px;

}

.colorAndTextTypes {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
}




.color__item-box {
    border-radius: 6px;
    width: 70px;
    height: 70px;
    margin-right: 40px;
}

.ds100 {
    background-color: $ds100;
}

.ds75 {
    background-color: $ds75;
}

.ds50 {
    background-color: $ds50;
}

.ds25 {
    background-color: $ds25;
}

.ds5 {
    background-color: $ds5;
}
.prpl {
    background-color: $purple;
}
.grn {
    background-color: $green;
}

.color__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.color__item-id {
    font-weight: 400;
}

.textTypes {
    max-width: 436px;
}

.textTypes__item {
    display: flex;
    margin-bottom: 51px;
}

.title__h1,
.title__h2,
.title__h3,
.title__p {
    color:$ds25;
    font-weight: 400;
}


.textTypes__item-title {
    margin-right: 30px;
    width: 37px;
    text-align: right;
}

.textTypes__item-text {
    text-align: left;
}



.select {
    width: 320px;
    height: 44px;
    border: 1px solid $ds25;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align-last: left;
    display: flex;
    align-items: center;
    // padding-left: 15px;
    transition: all .3s;
}


.selected {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    user-select: none;
    padding-left: 15px;
}

.select-clicked {
 border-color: $ds50;
}

.select:hover {
    border: 1px solid $ds50;
}


.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    width: 320px;
    border:1px solid $ds25;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 13px;
    // padding-bottom: 57px;
    display: none;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    padding-left: 15px;
}


.menu-open {
    display: block;
    border: 1px solid $ds50;
    border-top: none;
}

.counter {
    padding-right: 7px;
    display: flex;
    align-items: center;
    max-width: 92px;
}

.counter__button {
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid $ds50;
    color: $ds50;
    border-radius:50%;
    font-family: $ffm;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.counter__value {
    border:none;
    text-align: center;
    font-family: $ffm;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    width: 32px;
}

.counter__button-minus {
    color: $ds25;
    border: 1px solid $ds25;
}





.menu__buttons {
    display: flex;
    justify-content: flex-end;
}

.menu__buttons-rToClean {
    display: flex;
    justify-content: space-between;   
}

.menu__button-apply {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: $ffm;
    margin-right: 7px;
    margin-bottom: 13px;
    padding: 0;
    color: $purple;
    border: none;
    background-color: #fff;
}

.menu__button-clean {
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: $ffm;
    margin-left: 14px;
    margin-bottom: 13px;
    padding: 0;
    color: $purple;
    border: none;
    background-color: #fff;
}

.menu__button-clean_active {
    display: block;
}



