@use '_global';
@use '_fonts';
@use '_checkbox';
@use '_radio';

@use '_toggle';
@use '_input';
@use '_bulletlist';
@use '_exp-checkbox';
@use '_like-button';
@use '_rate-star';
@use '_calendar';
@use '_icontext';
@use '_comment';
@use '_pagination';
@use '_slider';
@use '_range-slider';
@use '_search-form';
@use '_registration-form';
@use '_payment-form';
@use '_buttons';
@use '_login-form';
@use '_cards';
@use '_form-elements';
@use 'header-and-footers.scss';

$ds100:rgba(31, 32, 65, 1);
$ds75:rgba(31, 32, 65, 0.75);
$ds50:rgba(31, 32, 65, 0.5);
$ds25:rgba(31, 32, 65, 0.25);
$ds5:rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$linear1: linear-gradient(180deg, rgba(188, 156, 255, 1),rgba(139, 164, 249, 1));
$linear2: linear-gradient(180deg, rgba(188, 156, 255, 0.5),rgba(139, 164, 249, 0.5));
$linear3: linear-gradient(180deg, rgba(111, 207, 151, 1),rgba(102, 210, 234, 1));
$cardsBGC:#F4F4F6;
$ffm: 'Montserrat', sans-serif;

h3 {
    color:$ds100;
}

.container {
    margin: auto;
    max-width: 1200px;
}
.body-cards {
    background-color: $cardsBGC;
}

.container-cards {
    // padding: 150px 120px 140px 140px;
    padding-top: 150px;
    padding-bottom: 140px;
}
.dropdown-test{
    margin-top: 100px;
}

.pageLogo {
    position: absolute;
    left: 30px;
    top: 30px;

}

.colorAndTextTypes {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
}




.color__item-box {
    border-radius: 6px;
    width: 70px;
    height: 70px;
    margin-right: 40px;
}

.ds100 {
    background-color: $ds100;
}

.ds75 {
    background-color: $ds75;
}

.ds50 {
    background-color: $ds50;
}

.ds25 {
    background-color: $ds25;
}

.ds5 {
    background-color: $ds5;
}
.prpl {
    background-color: $purple;
}
.grn {
    background-color: $green;
}

.color__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.color__item-id {
    font-weight: 400;
}

.textTypes {
    max-width: 436px;
}

.textTypes__item {
    display: flex;
    margin-bottom: 51px;
}

.title__h1,
.title__h2,
.title__h3,
.title__p {
    color:$ds25;
    font-weight: 400;
}


.textTypes__item-title {
    margin-right: 30px;
    width: 37px;
    text-align: right;
}

.textTypes__item-text {
    text-align: left;
}



.select {
    width: 320px;
    height: 44px;
    border: 1px solid $ds25;
    border-radius: 4px;
    text-align-last: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    transition: border .3s;
}


.selected {
    color:$ds75;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    user-select: none;
    padding-left: 15px;
}

.select-clicked {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: $ds50;
}

.select:hover {
    border: 1px solid $ds50;
}

.caret {
    font-size: 24px;
    color: $ds50;
    user-select: none;
    margin-right: 13px;
    font-family: 'Material Symbols Outlined';
    // transition: all .05s;
}

.caret-rotate {
    color: $ds75;
    transform: rotate(180deg);
}

.menu {
    background-color: #fff;
    user-select: none;
    width: 320px;
    border:1px solid $ds25;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 13px;
    display: none;
}



.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    padding-left: 15px;
}

.dropdown .menu__item {
    padding-bottom: 7px;
}


.menu-open {
    display: block;
    border: 1px solid $ds50;
    border-top: none;
}

.counter {
    padding-right: 7px;
    display: flex;
    align-items: center;
    max-width: 92px;
}

.counter__button {
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid $ds50;
    color: $ds50;
    border-radius:50%;
    font-family: $ffm;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.counter__value {
    border:none;
    text-align: center;
    font-family: $ffm;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    width: 32px;
}

.counter__button-minus {
    color: $ds25;
    border: 1px solid $ds25;
}






.menu__buttons {
    display: flex;
    justify-content: flex-end;
}

.menu__buttons-rToClean {
    display: flex;
    justify-content: space-between;   
}

.menu__button-apply {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: $ffm;
    margin-right: 7px;
    margin-bottom: 13px;
    padding: 0;
    color: $purple;
    border: none;
    background-color: #fff;
}

.menu__button-clean {
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    font-family: $ffm;
    margin-left: 14px;
    margin-bottom: 13px;
    padding: 0;
    color: $purple;
    border: none;
    background-color: #fff;
}

.menu__button-clean_active {
    display: block;
}

.customDropdown .select,
.customDropdown .menu {
    max-width: 266px;
}

.dropdown__item__title-apply {
    text-transform: lowercase;
}


.customDropdown .selected {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.dropdown .menu__buttons {
    padding-top: 12px;
}




