.bulletlist
    .bulletlist__box
        .bulletlist__form
            ul.bulletlist__list
                li.bulletlist__item
                    .bulletlist__disk 
                    p.bulletlist__text Нельзя с питомцами
                li.bulletlist__item
                    .bulletlist__disk
                    p.bulletlist__text Без вечеринок и мероприятий
                li.bulletlist__item
                    .bulletlist__disk
                    p.bulletlist__text Время прибытия — после 13:00, а выезд до 12:00