.calendar__form
    .calendar__top
        span.material-icons-outlined.date-arrow(id="prev")  arrow_back
        p.current-date 
        span.material-icons-outlined.date-arrow(id="next") arrow_forward    
    .calendar__menu
        ul.weeks
            li
                h3.date-title Пн
            li
                h3.date-title Вт
            li
                h3.date-title Ср
            li
                h3.date-title Чт
            li
                h3.date-title Пт
            li
                h3.date-title Сб
            li
                h3.date-title Вс
        ul.days