.checkbox__box
    .checkbox__form
        label.checkbox__label Можно курить
            input.checkbox__input(type="checkbox")
            span.checkbox__style 
    .checkbox__form
        label.checkbox__label Можно с питомцами
            input.checkbox__input(type="checkbox" checked)
            span.checkbox__style 
    .checkbox__form
        label.checkbox__label Можно пригласить гостей (до 10 человек)
            input.checkbox__input(type="checkbox" checked)
            span.checkbox__style
    