.comment__form 
    .comment__top
        img.comment__top-img(src=require("../../images/profile-logo.png") alt="Murad-logo")
        .comment__top-text
            p.comment__top-text_title Мурад Сарафанов
            p.comment__top-text_info 5 дней назад
    .comment__bot
        .like__box
            .like__form.like__form-liked
                span.like__form-heart.material-symbols-outlined.like__form-heart-liked favorite_border
                span.like__form-number.like__form-number-liked 12
        p.comment__bot-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
           