.expanded__checkbox
    .expanded__checkbox___top
        h3.expanded__checkbox___title expandable checkbox list
        .expanded__checkbox__caret
            span.material-icons-outlined expand_more
    ul.expanded__checkbox__menu
        li.expanded__checkbox__item
            .expanded__checkbox__checkbox
                label.checkbox__label Завтрак
                    input.checkbox__input(type="checkbox")
                    span.checkbox__style
        li.expanded__checkbox__item
            .expanded__checkbox__checkbox
                label.checkbox__label Письменный стол
                    input.checkbox__input(type="checkbox")
                    span.checkbox__style 
        li.expanded__checkbox__item
            .expanded__checkbox__checkbox
                label.checkbox__label Кроватка
                    input.checkbox__input(type="checkbox")
                    span.checkbox__style
        li.expanded__checkbox__item
            .expanded__checkbox__checkbox
                label.checkbox__label Телевизор
                    input.checkbox__input(type="checkbox")
                    span.checkbox__style
        li.expanded__checkbox__item
            .expanded__checkbox__checkbox
                label.checkbox__label Шампунь
                    input.checkbox__input(type="checkbox")
                    span.checkbox__style