.icontext__box
    .icontext__form
        span.material-icons-outlined.icontext__icon insert_emoticon
        .icontext__text
            p.icontext__text-title Комфорт
            p.icontext__text-info Шумопоглощающие стены
    .icontext__form
        span.material-icons-outlined.icontext__icon location_city
        .icontext__text
            p.icontext__text-title Удобство
            p.icontext__text-info Окно в каждой из спален