.login-form__form
    form.login-form__inner
        h1.login-form__title Войти
        .login-form__data-input
            input.input__textfield.input__email(type="email" placeholder="Email")
            input.input__textfield.input__password(type="password" placeholder="Пароль")
        .button__form.button__form-big.login-form__btn
            button.button__big войти
            span.material-icons-outlined.button__big-arrow arrow_forward
        .login-form-bottom
            p.login-form-bottom-text Нет аккаунта на Toxin?
            .button__form.login-form__btn-bottom
                button.button__gradient создать