.pagination__form
    .pagination__top
        ul.pagination__list 
            li.pagination__item.active-page 1
            li.pagination__item 2
            li.pagination__item 3
            li.pagination__item ...
            li.pagination__item 15
            li.pagination__btn.material-symbols-outlined arrow_forward
    .pagination__discription 
        p.pagination__discription-text 1 – 12 из 100+ вариантов аренды