li.pagination__card
    .slider__form
        include ./_slider
    .pagintaion__card-text 
        .pagination__card-text-top__inner
            .pagination__card-text-top
                p.pagination__card-text-top__num №<strong class="pag_strong-num">888</strong>
                p.pagination__card-text-top__lux люкс
            p.pagination__card-text-top__price <strong class="pag_strong">9 990₽</strong> в сутки
        .pagination__card-text-bot__inner
            .pagination__card-text-bot__rate
                include ./_rate-star
            .pagination__card-text-bot__rev
                p.pagination__card-text-bot__rev-text <strong>145</strong> Отзывов 