.range-slider__form 
    .range-slider__input
        input.range-slider__input-min(value=5000+"₽")
        p.seporator -
        input.range-slider__input-max(value=10000+"₽")
    .range-slider__line
        .range-slider__progress
    .range-slider__range-input
        input.range-input__min(type="range" min="0" max="15000" value="5000")
        input.range-input__max(type="range" min="0" max="15000" value="10000")