.rate-star__form
    .rate-star__inner
        span.material-icons-outlined.rate-star.star1 star_border
        span.material-icons-outlined.rate-star.star2 star_border
        span.material-icons-outlined.rate-star.star3 star_border
        span.material-icons-outlined.rate-star.star4 star_border
        span.material-icons-outlined.rate-star.star5 star_border