.slider__form
    .slider
        img.slider__img(src=require("../../images/pag-card1.png") alt="Murad-logo" )
        img.slider__img(src=require("../../images/pag-card2.png") alt="Murad-logo")
        img.slider__img(src=require("../../images/pag-card3.png") alt="Murad-logo")
        img.slider__img(src=require("../../images/pag-card4.png") alt="Murad-logo")
    .slider__btn
        p.prev.material-icons-outlined chevron_left
        p.next.material-icons-outlined chevron_right
    .slider__dot
        span.dot
        span.dot
        span.dot
        span.dot