.toggle__form
    .checkbox__form
        label.switch__checkbox__label Получать спецпредложения
            input.switch__checkbox__input(type="checkbox" checked )
            span.switch__checkbox__style
        .checkbox__form
        label.switch__checkbox__label Получать спецпредложения
            input.switch__checkbox__input(type="checkbox")
            span.switch__checkbox__style