.checkboxs
    h3 Checkbox Buttons
    .checkbox__box
        .checkbox__form
            label.checkbox__label Можно курить
                input.checkbox__input(type="checkbox")
                span.checkbox__style 
        .checkbox__form
            label.checkbox__label Можно с питомцами
                input.checkbox__input(type="checkbox" checked)
                span.checkbox__style 
        .checkbox__form
            label.checkbox__label Можно пригласить гостей (до 10 человек)
                input.checkbox__input(type="checkbox" checked)
                span.checkbox__style
        .checkbox__form.checkboxRich__form
            label.checkbox__label Широкий коридор
                p.checkboxRich__text Ширина коридоров в номере <br> не менее 91 см.
                input.checkbox__input(type="checkbox")
                span.checkbox__style
        .checkbox__form.checkboxRich__form
            label.checkbox__label Помощник для инвалидов
                p.checkboxRich__text На 1 этаже вас встретит специалист  и проводит до номера.
                input.checkbox__input(type="checkbox")
                span.checkbox__style