mixin comment(commentImgUrl="",commentProfileName="",commentActive="",commentText="")
    .comment__form 
        .comment__top
            img.comment__top-img(src=require(commentImgUrl) alt="commentProfileName")
            .comment__top-text
                p.comment__top-text_title=commentProfileName
                p.comment__top-text_info=commentActive
        .comment__bot
            .like__box
                .like__form.like__form-liked
                    span.like__form-heart.material-symbols-outlined.like__form-heart-liked favorite_border
                    span.like__form-number.like__form-number-liked 12
            p.comment__bot-text=commentText
            