mixin dropDown
    .dropdown
        .select
            .selected.guestQuantity Сколько гостей
            .caret
                span.material-icons-outlined expand_more 
        ul.menu
            li.menu__item(data-value='old')
                h3 взрослые
                .counter.counter-one
                    span.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                    .counter__value.counter__value-one 0
                    span.counter__button.counter__button-plus(data-direction='plus') +
            li.menu__item(data-value='baby')
                h3 дети
                .counter.counter-two
                    span.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                    .counter__value.counter__value-two 0
                    span.counter__button.counter__button-plus(data-direction='plus') +
            li.menu__item(data-value='born')
                h3 младенцы
                .counter.counter-three
                    span.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                    .counter__value.counter__value-three 0
                    span.counter__button.counter__button-plus(data-direction='plus') +
            .menu__buttons
                span.menu__button-clean(data-dropdownclean='') очистить
                span.menu__button-apply(data-dropdowncart='') применить