mixin radio
    .radio__form
        label.radio__label Мужчина
            input.radio__input(type="radio" name="gender" checked)
            span.radio__style
            .radio__form
        label.radio__label Женщина
            input.radio__input(type="radio" name="gender" checked)
            span.radio__style