mixin bulletList(bulletText1="",bulletText2="",bulletText3="")
    .bulletlist__body
        .bulletlist__form
            ul.bulletlist__list
                li.bulletlist__item
                    .bulletlist__disk 
                    p.bulletlist__text=bulletText1
                li.bulletlist__item
                    .bulletlist__disk
                    p.bulletlist__text=bulletText2
                li.bulletlist__item
                    .bulletlist__disk
                    p.bulletlist__text=bulletText3
