doctype html
html(lang='en')
    include pug/_head
        title Cards
    body.body-cards
        img.pageLogo(src=require('./images/page-logo.svg') alt='Pfuhdasdasdas')
        .container.container-cards
            .container-cards-start
                .search-form
                    .search-form__box
                        .search-form__form
                            form.search-form__inner
                                h1.search-form__title Найдём номера под ваши пожелания
                                .serch__form-date
                                    .dropdown-date__form
                                        h3.search-form__start-title прибытие
                                        .dropdown-date-select
                                            p.dropdown-date-select-text ДД.ММ.ГГГГ
                                            span.material-icons-outlined.date-dropdown__caret expand_more
                                    .dropdown-date__form
                                        h3.search-form__end-title выезд
                                        .dropdown-date-select
                                            p.dropdown-date-select-text ДД.ММ.ГГГГ
                                            span.material-icons-outlined.date-dropdown__caret expand_more
                                h3.search-form__quantity-title гости
                                include pug/components/_dropdown
                                .button__form.button__form-big.search-form__btn
                                    button.button__big подобрать номер
                                    span.material-icons-outlined.button__big-arrow arrow_forward
                .registration-form
                    .registration-form__box
                        .registration-form__form
                            form.registration-form__inner
                                h1.registration-form__title Регистрация аккаунта
                                .registration-form__registration-input
                                    input.input__textfield.input__name(type="text" placeholder="Имя")
                                    input.input__textfield.input__secondname(type="text" placeholder="Фамилия")
                                .registration-form__gender-radio
                                    include pug/components/_radio
                                .registration-form__date-input
                                    h3.input__date-title дата рождения
                                    input.input__textfield.input__date(type="text" placeholder="ДД.ММ.ГГГГ")
                                .registration-form__data-input
                                    h3.input__data-title данные для входа в сервис
                                    input.input__textfield.input__email(type="email" placeholder="Email")
                                    input.input__textfield.input__password(type="password" placeholder="Пароль")
                                include pug/components/_toggle
                                .button__form.button__form-big.registration-form__btn
                                    button.button__big подобрать номер
                                    span.material-icons-outlined.button__big-arrow arrow_forward
                                .registration-form-bottom
                                    p.registration-form-bottom-text Уже есть аккаунт на Toxin
                                    .button__form.registration-form__btn-bottom
                                        button.button__gradient войти
            .container-cards-center
                .payment-form
                    .payment-form__box
                        .payment-form__form
                            form.payment-form__inner
                                .payment-form__top-info
                                    .payment-form__top-number
                                        h1.payment-form__top-number__text <strong class="payment-form__top-number__text-icon">№</strong>888
                                        h3.payment-form__top-number__lux люкс
                                    h3.payment-form__top-price <strong class='payment-form__top-price-number'>9 990₽</strong> в сутки
                                .payment-form__date
                                    .dropdown-date__form
                                        h3.search-form__start-title прибытие
                                        .dropdown-date-select
                                            p.dropdown-date-select-text ДД.ММ.ГГГГ
                                            span.material-icons-outlined.date-dropdown__caret expand_more
                                    .dropdown-date__form
                                        h3.search-form__end-title выезд
                                        .dropdown-date-select
                                            p.dropdown-date-select-text ДД.ММ.ГГГГ
                                            span.material-icons-outlined.date-dropdown__caret expand_more
                                .payment-form__dropdown
                                    h3.payment-form__quantity-title гости
                                    include pug/components/_dropdown
                                .payment-form-payment__details
                                    .payment-form-payment__details-discription
                                        .payment-form-payment__details-discription-notice
                                            p.payment-form-payment__details-discription-text 9 990₽ х 4 суток
                                        .payment-form-payment__details-discription-notice
                                            p.payment-form-payment__details-discription-text Сбор за услуги: скидка 2 179₽
                                            img.payment-form-payment__details-discription-notice-img(src=require('./images/notice.svg') alt='notice')
                                        .payment-form-payment__details-discription-notice
                                            p.payment-form-payment__details-discription-text Сбор за дополнительные услуги
                                            img.payment-form-payment__details-discription-notice-img(src=require('./images/notice.svg') alt='notice')
                                    .payment-form-payment__details-price
                                        p.payment-form-payment__details-price-number 39 960₽
                                        p.payment-form-payment__details-price-number 0₽
                                        p.payment-form-payment__details-price-number 300₽
                                .payment-form__total
                                    h2.payment-form__total-text Итого
                                    .payment-form__total-seporator
                                    h2.payment-form__total-price 38 081₽
                                .button__form.button__form-big.payment-form__btn
                                    button.button__big забронировать
                                    span.material-icons-outlined.button__big-arrow arrow_forward              
                .login-form
                    .login-form__box
                        .login-form__form
                            form.login-form__inner
                                h1.login-form__title Войти
                                .login-form__data-input
                                    input.input__textfield.input__email(type="email" placeholder="Email")
                                    input.input__textfield.input__password(type="password" placeholder="Пароль")
                                .button__form.button__form-big.login-form__btn
                                    button.button__big войти
                                    span.material-icons-outlined.button__big-arrow arrow_forward
                                .login-form-bottom
                                    p.login-form-bottom-text Нет аккаунта на Toxin?
                                    .button__form.login-form__btn-bottom
                                        button.button__gradient создать
            .container-cards-end
                .cards__calendar__form-inner
                    .cards__calendar__form
                        include pug/components/_calendar
                .cards__pagination-cards__form 
                    include pug/components/_pagination-card
                .cards__pagination-cards__form 
                    include pug/components/_pagination-card

              
                            
            
