doctype html
html(lang='en')
    include pug/_head
        title Color-and-Types
    body
        img.pageLogo(src="../src/images/pdge-logo.svg" alt='page-logo')
        .container
            .colorAndTextTypes
                .color
                    ul.color__list
                        li.color__item
                            .color__item-box.ds100
                            .color__item-text
                                h3.color__item-title Dark Shade 100%
                                h3.color__item-id #1F2041
                        li.color__item
                            .color__item-box.ds75
                            .color__item-text
                                h3.color__item-title Dark Shade 75%
                                h3.color__item-id #1F2041
                        li.color__item
                            .color__item-box.ds50
                            .color__item-text
                                h3.color__item-title Dark Shade 50%
                                h3.color__item-id #1F2041
                        li.color__item
                            .color__item-box.ds25
                            .color__item-text
                                h3.color__item-title Dark Shade 25%
                                h3.color__item-id #1F2041
                        li.color__item
                            .color__item-box.ds5
                            .color__item-text
                                h3.color__item-title Dark Shade 5%
                                h3.color__item-id #1F2041
                        li.color__item
                            .color__item-box.prpl
                            .color__item-text
                                h3.color__item-title Purple
                                h3.color__item-id #BC9CFF
                        li.color__item
                            .color__item-box.grn
                            .color__item-text
                                h3.color__item-title Green
                                h3.color__item-id #6FCF97
                .textTypes
                    ul.textTypes__list
                        li.textTypes__item
                            .textTypes__item-title
                                h1.textTypes__item-title.title__h1 H1
                            .textTypes__item-text
                                h1 This one is the sub-section or widget title
                        li.textTypes__item
                            .textTypes__item-title
                                h2.textTypes__item-title.title__h2 H2
                            .textTypes__item-text
                                h2 Next one is the item title inside widgets
                        li.textTypes__item
                            .textTypes__item-title
                                h3.textTypes__item-title.title__h3 H3
                            .textTypes__item-text
                                h3 This is a label or CTA text
                        li.textTypes__item
                            .textTypes__item-title
                                p.textTypes__item-title.title__p Body
                            .textTypes__item-text
                                p This is the body text which is used for most of the design, like paragraphs, lists, etc.
                                
                                 
