doctype html
html(lang='en')
    include pug/_head
        title form-elements
    body
        img.pageLogo(src=require('./images/page-logo.svg') alt='Pfuhdasdasdas')
        .container.container-form__elements
            .container-form__elements-start
                .form-elements__input
                    .input__box
                        .form-elements__input-top
                            h3.form-elements__input-title Text Field
                            h3.form-elements__input-title-pref Default
                        .input__form
                            input.input__textfield(type="text" placeholder="Email")
                    .input__box
                        .form-elements__input-top
                            h3.form-elements__input-title Text Field
                            h3.form-elements__input-title-pref Hover / Focus
                        .input__form
                            input.input__textfield.input__textfield-hovered(type="text" placeholder="Email" value="This is pretty awesome")
                .form-elements__dropdown
                    h3.form-elements__dropdown-title dropdown
                    include pug/components/_dropdown
                .form-elements__masked__textfield
                    h3.form-elements__masked__textfield-title masked text field
                    .input__form
                        input.input__textfield(type="text" placeholder="ДД.ММ.ГГГГ")
                .form-elements__dropdown-date
                    .dropdown-date__form
                        h3.search-form__end-title date Dropdown
                        .dropdown-date-select
                            p.dropdown-date-select-text ДД.ММ.ГГГГ
                            span.material-icons-outlined.date-dropdown__caret expand_more
                    .dropdown-date__form
                        h3.search-form__end-title date Dropdown
                        .dropdown-date-select
                            p.dropdown-date-select-text 19.08.2019
                            span.material-icons-outlined.date-dropdown__caret expand_more
                .form-elements__dropdown-filter__date
                    .dropdown-date__form
                        h3.search-form__end-title filter date dropdown
                        .dropdown-date-select
                            p.dropdown-date-select-text 19 авг - 23 авг
                            span.material-icons-outlined.date-dropdown__caret expand_more
                .form-elements__subscription-textfield
                        h3.form-elements__subscription-textfield-title subscription text field
                        .subscription-textfield__form
                            input.input__textfield(type="text" placeholder="Email")
                            span.material-icons-outlined.subscription-textfield__arrow arrow_forward
                .form-elements__custom-dropdown
                    .form-elements__custom-dropdown__form 
                        .form-elements__custom-dropdown-top
                            h3.form-elements__custom-dropdown-title Text Field
                            h3.form-elements__custom-dropdown-title-pref Default  
                        .customDropdown
                            .select
                                .selected.guestQuantity
                                    p.customDropdown_text 2 спальни, 2 кровати...
                                .caret
                                    span.material-icons-outlined expand_more 
                            ul.menu
                                li.menu__item.menu__item-one(data-value='old')
                                    h3.dropdown__item__title-one спальни
                                    .counter.counter-one
                                        button.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                                        .counter__value.counter__value-one 0
                                        button.counter__button.counter__button-plus.counter__button-plus-one(data-direction='plus') +
                                li.menu__item.menu__item-two(data-value='baby')
                                    h3.dropdown__item__title-two кровати
                                    .counter.counter-two
                                        button.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                                        .counter__value.counter__value-two 0
                                        button.counter__button.counter__button-plus.counter__button-plus-two(data-direction='plus') +
                                li.menu__item.menu__item-three(data-value='born')
                                    h3.dropdown__item__title-three ванные комнаты
                                    .counter.counter-three
                                        button.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                                        .counter__value.counter__value-three 0
                                        button.counter__button.counter__button-plus.counter__button-plus-three(data-direction='plus') +
                    .form-elements__custom-dropdown__form.form-elements__custom-dropdown__form-spc
                        .form-elements__custom-dropdown-top
                            h3.form-elements__custom-dropdown-title Text Field
                            h3.form-elements__custom-dropdown-title-pref expanded  
                        .customDropdown.customDropdown-spc 
                            .select
                                .selected.guestQuantity
                                    p.customDropdown_text 2 спальни, 2 кровати...
                                .caret
                                    span.material-icons-outlined expand_more 
                            ul.menu.customDropdown-spc__menu 
                                li.menu__item.menu__item-one(data-value='old')
                                    h3.dropdown__item__title-one спальни
                                    .counter.counter-one
                                        button.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                                        .counter__value.counter__value-one 0
                                        button.counter__button.counter__button-plus.counter__button-plus-one(data-direction='plus') +
                                li.menu__item.menu__item-two(data-value='baby')
                                    h3.dropdown__item__title-two кровати
                                    .counter.counter-two
                                        button.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                                        .counter__value.counter__value-two 0
                                        button.counter__button.counter__button-plus.counter__button-plus-two(data-direction='plus') +
                                li.menu__item.menu__item-three(data-value='born')
                                    h3.dropdown__item__title-three ванные комнаты
                                    .counter.counter-three
                                        button.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                                        .counter__value.counter__value-three 0
                                        button.counter__button.counter__button-plus.counter__button-plus-three(data-direction='plus') +
                .form-elements__exp-checkbox
                    include pug/components/_exp-checkbox
                    .form-elements__exp-checkbox-open
                        .expanded__checkbox
                            .expanded__checkbox___top
                                h3.expanded__checkbox___title expandable checkbox list
                                .expanded__checkbox__caret
                                    span.material-icons-outlined expand_more
                            ul.expanded__checkbox__menu
                                li.expanded__checkbox__item
                                    .expanded__checkbox__checkbox
                                        label.checkbox__label Завтрак
                                            input.checkbox__input(type="checkbox")
                                            span.checkbox__style
                                li.expanded__checkbox__item
                                    .expanded__checkbox__checkbox
                                        label.checkbox__label Письменный стол
                                            input.checkbox__input(type="checkbox" checked)
                                            span.checkbox__style 
                                li.expanded__checkbox__item
                                    .expanded__checkbox__checkbox
                                        label.checkbox__label Кроватка
                                            input.checkbox__input(type="checkbox" checked)
                                            span.checkbox__style
                                li.expanded__checkbox__item
                                    .expanded__checkbox__checkbox
                                        label.checkbox__label Телевизор
                                            input.checkbox__input(type="checkbox" checked) 
                                            span.checkbox__style
                                li.expanded__checkbox__item
                                    .expanded__checkbox__checkbox
                                        label.checkbox__label Шампунь
                                            input.checkbox__input(type="checkbox")
                                            span.checkbox__style
                .form-elements__icon-text
                    include pug/components/_icon-text
            .container-right    
                .container-form__for-comments
                    .container-form__elements-center
                        .form-elements__checkbox
                            h3.form-elements__checkbox-title Checkbox Buttons
                            include pug/components/_checkbox
                        .form-elements__radio
                            h3.form-elements__radio-title Radio Buttons
                            .radio__box
                                include pug/components/_radio
                        .form-elements__toggle
                            h3.form-elements__toggle-title Toggle
                            include pug/components/_toggle
                            .toggle__form
                                .checkbox__form.checkbox__form-toggle
                                    label.switch__checkbox__label Получать спецпредложения
                                        input.switch__checkbox__input(type="checkbox" )
                                        span.switch__checkbox__style
                        .form-elements__like
                            h3.form-elements__like-title like button
                            .form-elements__like__form 
                                .like__box
                                    .like__form
                                        span.like__form-heart.material-icons-outlined favorite_border
                                        span.like__form-number 2
                                .like__box
                                    .like__form.like__form-liked
                                        span.like__form-heart.material-symbols-outlined.like__form-heart-liked favorite_border
                                        span.like__form-number.like__form-number-liked 12
                        .form-elements__rate-star
                            h3.form-elements__rate-star-title rate button
                            .form-elements__rate-star__form
                                .rate-star__form
                                    .rate-star__inner
                                        span.material-symbols-outlined.rate-star.star1 star_border
                                        span.material-symbols-outlined.rate-star.star2 star_border
                                        span.material-symbols-outlined.rate-star.star3 star_border
                                        span.material-symbols-outlined.rate-star.star4 star_border
                                        span.material-icons-outlined.rate-star.star5 star_border
                                .rate-star__form
                                    .rate-star__inner
                                        span.material-symbols-outlined.rate-star.star1 star_border
                                        span.material-symbols-outlined.rate-star.star2 star_border
                                        span.material-symbols-outlined.rate-star.star3 star_border
                                        span.material-symbols-outlined.rate-star.star4 star_border
                                        span.material-symbols-outlined.rate-star.star5 star_border
                        .form-elements-center__dropdown
                            h3.form-elements-center__dropdown-title dropdown
                            include pug/components/_dropdown
                        .form-elements__rich-checkbox
                            h3.form-elements__rich-checkbox-title rich Checkbox Buttons
                            include pug/components/_rich-checkbox
                    .container-form__elements-end
                        .form-elements__range-slider
                            h3.form-elements__range-slider-title Range Slider
                            include pug/components/_range-slider
                        .form-elements__buttons
                            h3.form-elements__buttons-title buttons
                            .form-elements__buttons__form
                                include pug/components/_button
                                .button__form
                                    .button
                                    button.button-clickme.button-ckickme_hovered
                                        h3.button__title-clickme CLICK ME
                            .form-elements__buttons__form-gradient
                                include pug/components/_button-gradient
                                .button__form
                                    .button__cradient.button__cradient-hovered
                                        h3.button__title-clickme.button__title-gradient CLICK ME
                            .form-elements__buttons__form-ot
                                include pug/components/_button-ot
                                .button__form
                                    .button-clickme_ot
                                        h3.button__title-clickme.button__title-clickme_ot.button__title-clickme_ot-hovered CLICK ME
                            include pug/components/_button-big
                        .form-elements__pagination
                                h3.form-elements__pagination-title pagination   
                                .form-elements__pagination__form
                                    include pug/components/_pagination 
                        .form-elements__selected__dropdown
                            h3.form-elements__selected__dropdown-title dropdown
                            .dropdown
                                .select
                                    .selected.guestQuantity 3 гостя
                                    .caret
                                        span.material-icons-outlined expand_more 
                                ul.menu
                                    li.menu__item(data-value='old')
                                        h3 взрослые
                                        .counter.counter-one
                                            span.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                                            .counter__value.counter__value-one 2
                                            span.counter__button.counter__button-plus(data-direction='plus') +
                                    li.menu__item(data-value='baby')
                                        h3 дети
                                        .counter.counter-two
                                            span.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                                            .counter__value.counter__value-two 1
                                            span.counter__button.counter__button-plus(data-direction='plus') +
                                    li.menu__item(data-value='born')
                                        h3 младенцы
                                        .counter.counter-three
                                            span.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                                            .counter__value.counter__value-three 0
                                            span.counter__button.counter__button-plus(data-direction='plus') +
                                    .menu__buttons
                                        span.menu__button-clean(data-dropdownclean='') очистить
                                        span.menu__button-apply(data-dropdowncart='') применить
                        .form-elements__bullet-list
                            h3.form-elements__bullet-list-title bullet list   
                            include pug/components/_bulletlist
                .comment-container
                    .form-elements__comment
                        h3.form-elements__comment-title
                        include pug/components/_comment
                
            
                            
