include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
        title form-elements
    body
        img.pageLogo(src=require('./images/page-logo.jpg') alt='Pfuhdasdasdas')
        .container
            .dropdown-test
                h3 dropdown
                include pug/components/_dropdown
                include pug/components/_dropdown
                include pug/components/_custom-dropdown
                include pug/components/_custom-dropdown
                include pug/components/_checkbox
            .radio
                h3 Checkbox Buttons
                .radio__box
                    include pug/components/_radio
                    .radio__form
                        label.radio__label Мужчина
                            input.radio__input(type="radio" name="gender" checked)
                            span.radio__style
                    .radio__form
                        label.radio__label Женщина
                            input.radio__input(type="radio" name="gender")
                            span.radio__style
            .buttons
                h3 buttons
                .button__box
                    .button__form
                        .button
                        button.button-clickme
                            h3.button__title-clickme CLICK ME
                    .button__form
                        .button
                        button.button-clickme.button-ckickme_hovered
                            h3.button__title-clickme CLICK ME
                    .button__form
                        .button__cradient
                            h3.button__title-clickme.button__title-gradient CLICK ME
                    .button__form
                        .button__cradient.button__cradient-hovered
                            h3.button__title-clickme.button__title-gradient CLICK ME
                    .button__form
                        .button-clickme_ot
                            h3.button__title-clickme.button__title-clickme_ot CLICK ME
                    .button__form
                        .button-clickme_ot
                            h3.button__title-clickme.button__title-clickme_ot.button__title-clickme_ot-hovered CLICK ME
                    .button__form
                        .button
                        button.button-clickme.button-payment
                            h3.button__title-clickme перейти к оплате
                            span.material-symbols-outlined.button__arrow arrow_forward
            .toggle
                .toggle__box
                    include pug/components/_toggle
                    .checkbox__form
                        label.switch__checkbox__label Получать спецпредложения
                            input.switch__checkbox__input(type="checkbox")
                            span.switch__checkbox__style
            .input
                .input__box
                    .input__form
                        input.input__textfield(type="text" placeholder="Email")
                .input__box
                    .input__form
                        input.input__textfield.input__textfield-hovered(type="text" placeholder="Email" value="This is pretty awesome") 
            .bulletlist
                include pug/components/_bulletlist
            .expanded__checkbox-test
                include pug/components/_exp-checkbox
                include pug/components/_exp-checkbox
            .like-test
                .like
                    h3 like button
                    include pug/components/_like
                    .like__box
                        .like__form.like__form-liked 
                            span.like__form-heart.like__form-heart-liked.material-symbols-outlined favorite
                            span.like__form-number.like__form-number-liked 13

            .rate-stars
                h3 Rate button
                .rate-star__box
                        include pug/components/_rate-star
            .calendar
                .calendar__box
                    include pug/components/_calendar
            .icontext
                .icontext__box
                    .icontext__form
                        span.material-icons-outlined.icontext__icon insert_emoticon
                        .icontext__text
                            p.icontext__text-title Комфорт
                            p.icontext__text-info Шумопоглощающие стены
                    .icontext__form
                        span.material-icons-outlined.icontext__icon location_city
                        .icontext__text
                            p.icontext__text-title Удобство
                            p.icontext__text-info Окно в каждой из спален
            .comment
                .comment__box 
                    h3 Comment
                    .comment__form 
                        .comment__top
                            //- .comment__top-img
                            img.comment__top-img(src=require("./images/profile-logo.png") alt="Murad-logo")
                            .comment__top-text
                                p.comment__top-text_title Мурад Сарафанов
                                p.comment__top-text_info 5 дней назад
                        .comment__bot
                            .like__box
                                .like__form
                                    span.like__form-heart.material-icons-outlined favorite_border
                                    span.like__form-number 12
                            p.comment__bot-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
            .pagination
                .pagination__box
                    .pagination__card
                        .slider__form
                            include pug/components/_slider
                        .pagintaion__card-text 
                            .pagination__card-text-top__inner
                                .pagination__card-text-top
                                    p.pagination__card-text-top__num №<strong class="pag_strong-num">888</strong>
                                    p.pagination__card-text-top__lux люкс
                                p.pagination__card-text-top__price <strong class="pag_strong">9 990₽</strong> в сутки
                            .pagination__card-text-bot__inner
                                .pagination__card-text-bot__rate
                                    include pug/components/_rate-star
                                .pagination__card-text-bot__rev
                                    p.pagination__card-text-bot__rev-text <strong>145</strong> Отзывов 
            .range-slider
                h3 Range slider
                .range-slider__box
                    include pug/components/_range-slider
            .pagination
                .pagination__box 
                    .pagination__form
                        .pagination__top
                            ul.pagination__list 
                                li.pagination__item.active-page 1
                                li.pagination__item 2
                                li.pagination__item 3
                                li.pagination__item ...
                                li.pagination__item 15
                                li.pagination__btn.material-symbols-outlined arrow_forward
                        .pagination__discription 
                            p.pagination__discription-text 1 – 12 из 100+ вариантов аренды
            
                            
