include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
        title form-elements
    body
        img.pageLogo(src=require('./images/page-logo.jpg') alt='Pfuhdasdasdas')
        .container
            .dropdown-test
                h3 dropdown
                .dropdown
                    .select
                        .selected.guestQuantity Сколько гостей
                        .caret
                            span.material-icons-outlined expand_more 
                    ul.menu
                        li.menu__item(data-value='old')
                            h3 взрослые
                            .counter.counter-one
                                button.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                                .counter__value.counter__value-one 0
                                button.counter__button.counter__button-plus(data-direction='plus') +
                        li.menu__item(data-value='baby')
                            h3 дети
                            .counter.counter-two
                                button.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                                .counter__value.counter__value-two 0
                                button.counter__button.counter__button-plus(data-direction='plus') +
                        li.menu__item(data-value='born')
                            h3 младенцы
                            .counter.counter-three
                                button.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                                .counter__value.counter__value-three 0
                                button.counter__button.counter__button-plus(data-direction='plus') +
                        .menu__buttons
                            button.menu__button-clean(data-dropdownclean='') очистить
                            button.menu__button-apply(data-dropdowncart='') применить
                .dropdown
                    .select
                        .selected.guestQuantity Сколько гостей
                        .caret
                            span.material-icons-outlined expand_more 
                    ul.menu
                        li.menu__item(data-value='old')
                            h3 взрослые
                            .counter.counter-one
                                button.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                                .counter__value.counter__value-one 0
                                button.counter__button.counter__button-plus(data-direction='plus') +
                        li.menu__item(data-value='baby')
                            h3 дети
                            .counter.counter-two
                                button.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                                .counter__value.counter__value-two 0
                                button.counter__button.counter__button-plus(data-direction='plus') +
                        li.menu__item(data-value='born')
                            h3 младенцы
                            .counter.counter-three
                                button.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                                .counter__value.counter__value-three 0
                                button.counter__button.counter__button-plus(data-direction='plus') +
                        .menu__buttons
                            button.menu__button-clean(data-dropdownclean='') очистить
                            button.menu__button-apply(data-dropdowncart='') применить
                .customDropdown
                    .select
                        .selected.guestQuantity
                            p.customDropdown_text Сколько помещений
                        .caret
                            span.material-icons-outlined expand_more 
                    ul.menu
                        li.menu__item.menu__item-one(data-value='old')
                            h3.dropdown__item__title-one спальни
                            .counter.counter-one
                                button.counter__button.counter__button-minus.counter__button-minus-one(data-direction='minus') -
                                .counter__value.counter__value-one 0
                                button.counter__button.counter__button-plus.counter__button-plus-one(data-direction='plus') +
                        li.menu__item.menu__item-two(data-value='baby')
                            h3.dropdown__item__title-two кровати
                            .counter.counter-two
                                button.counter__button.counter__button-minus.counter__button-minus-two(data-direction='minus') -
                                .counter__value.counter__value-two 0
                                button.counter__button.counter__button-plus.counter__button-plus-two(data-direction='plus') +
                        li.menu__item.menu__item-three(data-value='born')
                            h3.dropdown__item__title-three ванные комнаты
                            .counter.counter-three
                                button.counter__button.counter__button-minus.counter__button-minus-three(data-direction='minus') -
                                .counter__value.counter__value-three 0
                                button.counter__button.counter__button-plus.counter__button-plus-three(data-direction='plus') +
            .checkboxs
                h3 Checkbox Buttons
                .checkbox__box
                    .checkbox__form
                        label.checkbox__label Можно курить
                            input.checkbox__input(type="checkbox")
                            span.checkbox__style 
                    .checkbox__form
                        label.checkbox__label Можно с питомцами
                            input.checkbox__input(type="checkbox" checked)
                            span.checkbox__style 
                    .checkbox__form
                        label.checkbox__label Можно пригласить гостей (до 10 человек)
                            input.checkbox__input(type="checkbox" checked)
                            span.checkbox__style
                    .checkbox__form.checkboxRich__form
                        label.checkbox__label Широкий коридор
                            p.checkboxRich__text Ширина коридоров в номере <br> не менее 91 см.
                            input.checkbox__input(type="checkbox")
                            span.checkbox__style
                    .checkbox__form.checkboxRich__form
                        label.checkbox__label Помощник для инвалидов
                            p.checkboxRich__text На 1 этаже вас встретит специалист  и проводит до номера.
                            input.checkbox__input(type="checkbox")
                            span.checkbox__style
            .radio
                h3 Checkbox Buttons
                .radio__box
                    .radio__form
                        label.radio__label Мужчина
                            input.radio__input(type="radio" name="gender" checked)
                            span.radio__style
                    .radio__form
                        label.radio__label Женщина
                            input.radio__input(type="radio" name="gender")
                            span.radio__style
            .buttons
                h3 buttons
                .button__box
                    .button__form
                        .button
                        button.button-clickme
                            h3.button__title-clickme CLICK ME
                    .button__form
                        .button
                        button.button-clickme.button-ckickme_hovered
                            h3.button__title-clickme CLICK ME
                    .button__form
                        .button__cradient
                            h3.button__title-clickme.button__title-gradient CLICK ME
                    .button__form
                        .button__cradient.button__cradient-hovered
                            h3.button__title-clickme.button__title-gradient CLICK ME
                    .button__form
                        .button-clickme_ot
                            h3.button__title-clickme.button__title-clickme_ot CLICK ME
                    .button__form
                        .button-clickme_ot
                            h3.button__title-clickme.button__title-clickme_ot.button__title-clickme_ot-hovered CLICK ME
                    .button__form
                        .button
                        button.button-clickme.button-payment
                            h3.button__title-clickme перейти к оплате
                            span.material-symbols-outlined.button__arrow arrow_forward
            .toggle
                .toggle__box
                    .toggle__form
                        .checkbox__form
                            label.switch__checkbox__label Получать спецпредложения
                                input.switch__checkbox__input(type="checkbox" checked )
                                span.switch__checkbox__style
                            .checkbox__form
                            label.switch__checkbox__label Получать спецпредложения
                                input.switch__checkbox__input(type="checkbox")
                                span.switch__checkbox__style
            .input
                .input__box
                    .input__form
                        input.input__textfield(type="text" placeholder="Email")
                .input__box
                    .input__form
                        input.input__textfield.input__textfield-hovered(type="text" placeholder="Email" value="This is pretty awesome") 
            .bulletlist
                .bulletlist__box
                    .bulletlist__form
                        ul.bulletlist__list
                            li.bulletlist__item
                                .bulletlist__disk 
                                p.bulletlist__text Нельзя с питомцами
                            li.bulletlist__item
                                .bulletlist__disk
                                p.bulletlist__text Без вечеринок и мероприятий
                            li.bulletlist__item
                                .bulletlist__disk
                                p.bulletlist__text Время прибытия — после 13:00, а выезд до 12:00
            .expanded__checkbox-test
                    .expanded__checkbox
                        .expanded__checkbox___top
                            h3.expanded__checkbox___title expandable checkbox list
                            .expanded__checkbox__caret
                                span.material-icons-outlined expand_more
                        ul.expanded__checkbox__menu
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Завтрак
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Письменный стол
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style 
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Кроватка
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Телевизор
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Шампунь
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                    .expanded__checkbox
                        .expanded__checkbox___top
                            h3.expanded__checkbox___title expandable checkbox list
                            .expanded__checkbox__caret
                                span.material-icons-outlined.expanded__caret expand_more
                        ul.expanded__checkbox__menu
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Завтрак
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Письменный стол
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style 
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Кроватка
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Телевизор
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
                            li.expanded__checkbox__item
                                .expanded__checkbox__checkbox
                                    label.checkbox__label Шампунь
                                        input.checkbox__input(type="checkbox")
                                        span.checkbox__style
            .like-test
                .like
                    h3 like button
                    .like__box
                        .like__form
                            span.like__form-heart.material-icons-outlined favorite_border
                            span.like__form-number 12
                .like
                    .like__box
                        .like__form
                            span.like__form-heart.material-icons-outlined favorite_border
                            span.like__form-number 12
                .like
                    .like__box
                        .like__form.like__form-liked 
                            span.like__form-heart.like__form-heart-liked.material-symbols-outlined favorite
                            span.like__form-number.like__form-number-liked 13
                
            .rate-star
                h3 Rate button
                .rate-star__box
                    .rate-star__form
                        .rate-star__inner
                            input.rate-star__input(type="radio", name="rating-star", id="5")
                            label.rate-star__label(for="5")
                            input.rate-star__input(type="radio", name="rating-star", id="4")
                            label.rate-star__label(for="4")
                            input.rate-star__input(type="radio", name="rating-star", id="3")
                            label.rate-star__label(for="3")
                            input.rate-star__input(type="radio", name="rating-star", id="2")
                            label.rate-star__label(for="2")
                            input.rate-star__input(type="radio", name="rating-star", id="1")
                            label.rate-star__label(for="1")
            .calendar
                .calendar__box
                    .calendar__form
                        .calendar__top
                            span.material-icons-outlined.date-arrow(id="prev")  arrow_back
                            p.current-date 
                            span.material-icons-outlined.date-arrow(id="next") arrow_forward    
                        .calendar__menu
                            ul.weeks
                                li
                                    h3.date-title Пн
                                li
                                    h3.date-title Вт
                                li
                                    h3.date-title Ср
                                li
                                    h3.date-title Чт
                                li
                                    h3.date-title Пт
                                li
                                    h3.date-title Сб
                                li
                                    h3.date-title Вс
                            ul.days
             

