doctype html
html(lang='en')
    include pug/_head
        title Hello-world
    body
        .container
            .pagination__wrapper
                .pagination__form-inner
                    ul.pagination__card__wrapper
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card
                        include pug/components/_pagination-card

                .pagination__nav      
                    ul.pagination__list
                    p.pagination__discription-text 1 – 12 из 100+ вариантов аренды
                        //- include pug/components/_pagination
