mixin toggle
    .toggle__form
        .checkbox__form.checkbox__form-toggle
            label.switch__checkbox__label Получать спецпредложения
                input.switch__checkbox__input(type="checkbox" checked )
                span.switch__checkbox__style
    